# Terraform
terraform/.terraform/
.terraform/
!.terraform.lock.hcl
!terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
*.tfstate
*.tfstate.*
terraform/build/
!terraform/build/.gitkeep
*.tfplan
crash.log

# Lambda
build/
*.zip

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Next.js
frontend/.next/
frontend/node_modules/
node_modules/
frontend/.next/
.next/

# Environment
.env
.env.local
*.pem
*.key

# AWS
.aws/

# macOS
.DS_Store

# IDE
.cursor/
.vscode/
